@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  word-wrap: break-word;
}

.heading .heading-white {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.heading::after {
  content: "";
  display: block;
  margin: 20px 0 0 0;
  width: 90px;
  height: 2px;
  border-radius: 100px;
  background: #37383c;
  color: #bb0e20;
}
.heading-white::after {
  content: "";
  display: block;
  margin: 20px 0 0 0;
  width: 90px;
  height: 2px;
  border-radius: 100px;
  background: white;
  color: #bb0e20;
}

p {
  width: 100%;
  height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.purple {
  background-color: #b168ff;
  background: linear-gradient(to right, #f4a7c9, #b168ff);
  width: 50vw;
  height: 100vh;
  float: left;
}

.yellow {
  background-color: #fdfc35;
  width: 100vw;
  height: 100vh;
}

.green {
  background-color: #45d3e7;
  background: linear-gradient(to right, #3feca7, #45d3e7);
  width: 100vw;
  height: 100vh;
  padding: 3vw;
}

.blue {
  background-color: #909afd;
  background: linear-gradient(to right, #9ed8f8, #909afd);
  width: 100vw;
  height: 100vh;
  padding: 3vw;
}

.orange {
  background-color: orange;
  width: 100vw;
  height: 100vh;
  padding: 3vw;
}

.footer {
  background: #37383c;
  color: white;
  width: 100vw;
  height: 100vh;
  padding: 3vw;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rounded-100 {
    border-radius: 100px;
}

#menu-main-menu {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}